<section class="navigation">
  <ul class = "navigation-links">
    <li>World</li>
    <li>San Francisco</li>
    <li>New York</li>
    <li>Bootcamp Prep</li>
    <li>Online</li>
    <li>WorlOnlined</li>
    <li>Sales</li>
    <li>TalentMatch</li>
    <li>Alumni</li>
    <li>All</li>
  </ul>
</section>
